.user-card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  text-align: left;
}

.repo-gird-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 10px;
}

.repo-gird-list .repo-gird-list-content {
  display: flex;
  justify-content: left;
  align-items: center;
}

.repo-gird-list .repo-gird-list-content .avatar {
  margin-right: 10px;
}
